<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p> Thank you for your order!</p>
    <br>
    <% puts @order %>
    <% puts @line_items %>
    <% @order.line_items.each do |item|%>
        <p>Product name: <%= item.product.name %> </p>
        <p>Product description: <%= item.product.description %> </p>
        <p>Quantity: <%= item.quantity %></p>
    <% end %>
    <p>Your order is now processing and will be shipped shortly. Absolutely no refunds!</p>
    <br>
    <p>Your order total is: $ <%= @order.total_cents / 100.00 %> </p>
  </body>
</html>